<?xml version="1.0" ?>
<robot name="(Unsaved)" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find (Unsaved)_description)/urdf/materials.xacro" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).trans" />
<xacro:include filename="$(find (Unsaved)_description)/urdf/(Unsaved).gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.002431440701302329 0.13050212659079538 0.01332531716081259" rpy="0 0 0"/>
    <mass value="2.8894718370283434"/>
    <inertia ixx="0.002711" iyy="0.010219" izz="0.012321" ixy="-3.5e-05" iyz="-1e-05" ixz="-0.000456"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://(Unsaved)_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
